<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf=8"/>
	<title>Social+ | Your News Feed </title>
	<!--SocialPlus Files-->
	<link rel="stylesheet" href="assets/css/main.css"/>
	<script type="text/javascript" src="lib/jquery.min.js"></script>
	<!-- Bootstrap Libraries -->
	<link rel="stylesheet" href="assets/css/bootstrap.css"/>
	<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>	
</head>
<body style="overflow-x:hidden">
<!-- React Libraries -->
	<script type="text/javascript" src="lib/react/build/react.js"></script>
	<script type="text/javascript" src="lib/react/JSXTransformer.js"></script>
	<!--React Componentes -->

	<script type="text/jsx" src="views/components/login.jsx"></script>
	
	<script type="text/jsx">
	
		React.render(<LoginBox />,document.body);
			
	</script>

</body>
</html>